body {
        font-family: Arial, sans-serif;
        font-size: 100%;
        text-align: center;
        padding: 10px;
      }

      #captureToggle {
        white-space: nowrap;
      }

      #qrcode {
        margin-top: 20px;
      }